.actions {

  &__title {
  }

  &__inner {
  }

  &__cards {
  }

  &__banner {
  }

  &__social {
  }
}
.block-margin {
}
.container {
}
.title-h2 {

  &__block {
  }

  &__text {
  }

  &__link {
  }
}
.btn {
}
.btn--white {
}
.cards-action {

  &__inner {
  }

  &__item {
  }

  &__link {
    background: var(--ui-white, #FFF);
    display: flex;
    justify-content: space-between;
    border-radius: 12px;

    @media screen and (min-width: 1024px) {
      &:hover{
        .animate-img picture{
          transform: scale3d(1.05, 1.05, 1.05);
        }
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
  }

  &__name {

  }

  &__info {
    color: var(--typography-black, #0D0D0D);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    p{
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__text {
  }

  &__animate {
    width: 40px;
    height: 40px;
    background: var(--ui-accent, #FFB21C);
    border-radius: 50%;

    .animate-arrow__icon{
      width: 40px;
      height: 40px;

      .arow{
        width: 20px;
        height: 20px;
      }
    }

    .animate-arrow__inner{
      transform: translateX(-40px);
    }
  }

  &__images {
    overflow: hidden;
  }
}
.anime-arrow-hover {
}
.animate-arrow {

  &__inner {
  }

  &__icon {
  }
}
.arow {
}
.animate-img {
}
.image {
}
.banner-action {

  &__inner {
  }

  &__content {
  }

  &__title {
  }

  &__subtitle {
  }

  &__images {
  }
}
.social {

  &__inner {
  }

  &__item {
  }

  &__link {
  }

  &__icon {
  }
}
