.bread-crumbs {
  display: flex;
  align-items: center;

  @include max600 {
    display: none;
  }

  &--margin-bottom{
    margin-bottom: 40px;
  }

  &__item {
    color: var(--typography-black, #0D0D0D);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    &:not(:last-child){
      margin-right: 8px;
    }

    &:not(:first-child){
      padding-left: 14px;
      position: relative;
      &:before{
      content: '/' ;
      color: var(--ui-border-dark, rgba(13, 13, 13, 0.10));
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      position: absolute;
      left: 0;
      top: 0;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      }
    }
  }

}
