.btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  padding: 8px 20px;
  gap:5px;
  border-radius: 37px;
  justify-content: center;
  align-items: baseline;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  transition: 0.3s;

  &--yellow{
    background: var(--ui-accent, #FFB21C);
    @media screen and (min-width: 1024px) {
      &:hover{
        background: var(--ui-dark, #2C2F31);
        color: #ffffff;
      }
    }
  }

  &--img-left{
    gap: 10px;
  }

  &--border-transparent {
    border: 1px solid var(--ui-accent-medium-contrast, rgba(255, 178, 28, 0.60));
    color: var(--typography-white, #FFF);

    @media screen and (min-width: 1024px) {
      &:hover{
        border: 1px solid var(--ui-accent-medium-contrast, rgba(255, 178, 28, 0.60));
        background: var(--ui-accent, #FFB21C);
        color: var(--typography-black, #0D0D0D);
      }
    }
  }

  &--white{
    background: var(--ui-white, #FFF);
    color: var(--typography-black, #0D0D0D);
    @media screen and (min-width: 1024px) {
      &:hover{
        background: var(--ui-accent, #FFB21C);
        svg{
          fill: var(--ui-dark, #2C2F31);
        }
      }
    }
  }

  &--black{
    border-radius: 30px;
    background: var(--ui-dark, #2C2F31);
    color: var(--typography-white, #FFF);
      @media screen and (min-width: 1024px) {
      &:hover{
        background: var(--ui-accent, #FFB21C);
        color: var(--typography-black, #0D0D0D);
      }
    }
  }

  &--grey{
    border: 1px solid var(--ui-border-dark, rgba(13, 13, 13, 0.10));

    @media screen and (min-width: 1024px) {
    &:hover{
      border: 1px solid #2C2F31;
    }
    }
    .link-info__date{
      color: var(--typography-black-medium-contrast, rgba(13, 13, 13, 0.60));
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.location-btn{
  &__icon{
    width: 20px;
    height: 20px;
    fill: #ffb21c;
    display: flex;
    align-items: flex-start;
    transition: 0.3s;
  }
}

.social {
  &__inner {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__link {
    display: flex;
    width: 37px;
    height: 37px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--ui-white, #fff);
    transition: 0.3s;

    @media screen and (min-width: 1024px) {
      &:hover {
        background: var(--ui-accent, #FFB21C);
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}


