.header {
  .burger {
    @include burger;
    width: 36px;
    height: 36px;

    border-radius: 50%;
    background: var(--ui-white, #FFF);

    &.burger--active {
      z-index: 101;
      &::before,
      &::after {
        background: #222123;
      }
    }
  }
}

.header-top {
  &__inner {
    padding: 15px 0;
    display: flex;
    align-items: center;
    @include max991 {
      display: none;
    }

  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 34px;
    margin-right: 20px;

    @include max1366 {
      gap: 10px 20px;
    }


    &--mobile{
      display: block;
      margin: 40px 0px;
      margin-bottom: auto;
    }
  }

  &__item {
    @include max991 {
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    color: var(--typography-black-medium-contrast, rgba(13, 13, 13, 0.60));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    transition: 0.3s;
    flex-shrink: 0;

    &--tel{
      color: var(--typography-black, #0D0D0D);
      font-size: 16px;

      @include max991 {
        color: var(--ui-white, #FFF);
        margin-bottom: 10px;
      }
    }

    @include max1366 {
      font-size: 14px;
    }

    @media screen and (min-width: 1024px) {
      &:hover{
        color: var(--typography-black-medium-contrast, rgba(13, 13, 13, 1));
      }
    }

    &--mobile{
      color: var(--ui-white, #FFF);
    }

  }

  &__button {
    margin-left: auto;
    margin-right: 40px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    flex-shrink: 0;
    @include max991 {
      margin-left: 0;
      align-self: flex-start;
    }
  }

  &__social{
    @include max991 {
      margin-bottom: 22px;
      margin-top: 40px;
    }
  }

  &__working{
    margin-bottom: 22px;
  }
}

.header-bottom {
  &__inner {
    display: flex;
    align-items: center;
    gap: 43px;
    padding: 15px 0;
  }

  &__logo {
    display: flex;
    align-items: flex-start;
    @include max991 {
      display: none;
    }
  }

  &__icon {

  }

  &__location-btn{
    @include max991 {
      display: none;
    }
  }

  &__search {
  }

  &__social {
    @include max991 {
      display: none;
    }
  }
}

.burger {
  &__line {
  }
}



.mobile-nav{
  display: none;

  @include max991 {
    display: block;
  }

  @include max600 {
    .logo{
      width: 105px;
      height: 29px;
    }
  }

  &__container{
    padding: 15px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    @include max600 {
      padding: 15px 15px 40px 15px;
    }
  }

  &__location{
    align-self: flex-start;
  }

  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 0;
  }

  &__block{
    display: none;
    background: #0D0D0D;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &.menu--active{
      display: block;
    }
  }
}

.logo{
  width: 135px;
  height: 37px;
}

