.map {
  &__inner {
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    &--mb {
      margin-bottom: 40px;
    }

    &--padding-top {
      padding-top: 70px;
      @include max400 {
        padding-top: 0;
      }
    }
  }

  &__widget {
    transform: scale(1.01);
  }

  &__header {
    background: var(--ui-white);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: var(--typography-black);

    span {
      font-weight: 400;
      line-height: 1.4;
      color: var(--typography-black-medium-contrast);
    }

    @include max400 {
      font-size: 14px;
      span{
        display: block;
      }
    }
  }

  &__link {
  }

  &__btn {
  }
}
.map--height-big {
}
.margin-bottom {
}
.container {
}
.list-reset {
}
.btn {
}
.concerts-cards {
  &__button {
  }
}
.btn--big {
}
.btn--black {
}
