.search {
  flex-grow: 1;

  &__inner {
    height: 38px;
    display: flex;
  }

  &__input {
    color: var(--typography-black-medium-contrast, rgba(13, 13, 13, 0.6));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border-radius: 7px 0 0 7px;
    padding: 15px;
    border: transparent;
    width: 100%;

    @include max600 {
      font-size: 14px;
    }
  }

  &__button {
    display: flex;
    padding: 8px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 7px 7px 0px;
    background: var(--ui-dark, #2c2f31);
    transition: 0.3s;

    @media screen and (min-width: 1024px) {
    &:hover{
      background: var(--ui-accent, #FFB21C);
    }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}
