.working {
  &__item {
    color: var(--typography-white, #FFF);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:not(:last-child){
      margin-bottom: 5px;
    }
  }
}
