:root {
  --font-family: "Inter-Regular", sans-serif;
  --content-width: 1400px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/../fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
  background: var(--ui-bg, #E6E9EC);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0px 30px;
  max-width: 1490px;
}
@media (max-width: 1366px) {
  .container {
    max-width: 1306px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 15px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.main {
  margin-bottom: auto;
}

.page--ios .dis-scroll {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  border: none;
  color: #000;
  opacity: 1;
  outline: none;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 20px;
  border-radius: 37px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn--yellow {
  background: var(--ui-accent, #FFB21C);
}
@media screen and (min-width: 1024px) {
  .btn--yellow:hover {
    background: var(--ui-dark, #2C2F31);
    color: #ffffff;
  }
}
.btn--img-left {
  gap: 10px;
}
.btn--border-transparent {
  border: 1px solid var(--ui-accent-medium-contrast, rgba(255, 178, 28, 0.6));
  color: var(--typography-white, #FFF);
}
@media screen and (min-width: 1024px) {
  .btn--border-transparent:hover {
    border: 1px solid var(--ui-accent-medium-contrast, rgba(255, 178, 28, 0.6));
    background: var(--ui-accent, #FFB21C);
    color: var(--typography-black, #0D0D0D);
  }
}
.btn--white {
  background: var(--ui-white, #FFF);
  color: var(--typography-black, #0D0D0D);
}
@media screen and (min-width: 1024px) {
  .btn--white:hover {
    background: var(--ui-accent, #FFB21C);
  }
  .btn--white:hover svg {
    fill: var(--ui-dark, #2C2F31);
  }
}

.location-btn__icon {
  width: 20px;
  height: 20px;
  fill: #ffb21c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.social__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37px;
  height: 37px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background: var(--ui-white, #fff);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 1024px) {
  .social__link:hover {
    background: var(--ui-accent, #FFB21C);
  }
}
.social__icon {
  width: 20px;
  height: 20px;
}

.main {
  margin: 30px 0 120px;
}
@media (max-width: 768px) {
  .main {
    margin: 15px 0 120px;
  }
}
@media (max-width: 600px) {
  .main {
    margin: 10px 0 80px;
  }
}

.working__item {
  color: var(--typography-white, #FFF);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.working__item:not(:last-child) {
  margin-bottom: 5px;
}

.search {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.search__inner {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__input {
  color: var(--typography-black-medium-contrast, rgba(13, 13, 13, 0.6));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border-radius: 7px 0 0 7px;
  padding: 15px;
  border: transparent;
  width: 100%;
}
.search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 17px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px 7px 7px 0px;
  background: var(--ui-dark, #2c2f31);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 1024px) {
  .search__button:hover {
    background: var(--ui-accent, #FFB21C);
  }
}
.search__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.start-page {
  padding: 30px;
}
.start-page ul {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 60px 0;
}
.start-page li {
  padding: 5px 0;
  font-size: 20px;
  color: #FFB21C;
}
.start-page .start-page-logo {
  display: block;
  margin-bottom: 30px;
  width: 250px;
}
.start-page a {
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}

.header .burger {
  --burger-width: 36px;
  --burger-height: 36px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--ui-white, #FFF);
}
.header .burger::before, .header .burger::after {
  content: "";
  position: absolute;
  left: calc(50% - 8px);
  width: 16px;
  height: var(--burger-line-height);
  background-color: currentColor;
}
.header .burger::before {
  top: calc(50% - 3px);
}
.header .burger::after {
  top: calc(50% + 3px);
}
.header .burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger.burger--active {
  z-index: 101;
}
.header .burger.burger--active::before, .header .burger.burger--active::after {
  background: #222123;
}

.header-top__inner {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 991px) {
  .header-top__inner {
    display: none;
  }
}
.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 34px;
  margin-right: 20px;
}
@media (max-width: 1366px) {
  .header-top__list {
    gap: 10px 20px;
  }
}
.header-top__list--mobile {
  display: block;
  margin: 40px 0px;
  margin-bottom: auto;
}
@media (max-width: 991px) {
  .header-top__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.header-top__link {
  color: var(--typography-black-medium-contrast, rgba(13, 13, 13, 0.6));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header-top__link--tel {
  color: var(--typography-black, #0D0D0D);
  font-size: 16px;
}
@media (max-width: 991px) {
  .header-top__link--tel {
    color: var(--ui-white, #FFF);
    margin-bottom: 10px;
  }
}
@media (max-width: 1366px) {
  .header-top__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .header-top__link:hover {
    color: var(--typography-black-medium-contrast, rgb(13, 13, 13));
  }
}
.header-top__link--mobile {
  color: var(--ui-white, #FFF);
}
.header-top__button {
  margin-left: auto;
  margin-right: 40px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .header-top__button {
    margin-left: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}
@media (max-width: 991px) {
  .header-top__social {
    margin-bottom: 22px;
    margin-top: 40px;
  }
}
.header-top__working {
  margin-bottom: 22px;
}

.header-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 43px;
  padding: 15px 0;
}
.header-bottom__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 991px) {
  .header-bottom__logo {
    display: none;
  }
}
@media (max-width: 991px) {
  .header-bottom__location-btn {
    display: none;
  }
}
@media (max-width: 991px) {
  .header-bottom__social {
    display: none;
  }
}

.mobile-nav {
  display: none;
}
@media (max-width: 991px) {
  .mobile-nav {
    display: block;
  }
}
@media (max-width: 600px) {
  .mobile-nav .logo {
    width: 105px;
    height: 29px;
  }
}
.mobile-nav__container {
  padding: 15px 30px 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
@media (max-width: 600px) {
  .mobile-nav__container {
    padding: 15px 15px 40px 15px;
  }
}
.mobile-nav__location {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.mobile-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 0;
}
.mobile-nav__block {
  display: none;
  background: #0D0D0D;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.mobile-nav__block.menu--active {
  display: block;
}

.logo {
  width: 135px;
  height: 37px;
}

.footer {
  background: var(--ui-dark, #2c2f31);
}

.footer-top {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #414446;
}
@media (max-width: 600px) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 0 50px;
  }
}
.footer-top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer-top__logo svg {
  fill: #ffffff;
}
.footer-center {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 1150px) {
  .footer-center {
    gap: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer-center__working {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.footer-center__working .working__item {
  font-size: 16px;
}
.footer-center__working .working__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .footer-center__working .working__item {
    font-size: 14px;
  }
}
@media screen and (max-width: 1150px) {
  .footer-center__working {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
.footer-center__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px 30px;
  max-width: 800px;
}
@media (max-width: 1366px) {
  .footer-center__list {
    max-width: 860px;
  }
}
@media screen and (max-width: 1150px) {
  .footer-center__list {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
@media (max-width: 768px) {
  .footer-center__list {
    gap: 20px 17px;
  }
}
.footer-center__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer-center__link {
  color: var(--typography-white, #fff);
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 1024px) {
  .footer-center__link:hover {
    color: #FFB21C;
  }
}
@media (max-width: 600px) {
  .footer-center__link {
    font-size: 14px;
  }
}
.footer-center__tel {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media screen and (max-width: 1150px) {
  .footer-center__tel {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.footer-bottom {
  padding: 50px 0 20px;
}
@media screen and (max-width: 1150px) {
  .footer-bottom {
    padding: 0px 0 20px;
  }
}
.footer-bottom__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (max-width: 1150px) {
  .footer-bottom__items {
    gap: 20px;
  }
}
.footer-bottom__item {
  color: var(--typography-white-medium-contrast, rgba(255, 255, 255, 0.5));
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1150px) {
  .footer-bottom__item {
    width: 48%;
  }
  .footer-bottom__item:nth-child(1) {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    text-align: right;
  }
  .footer-bottom__item:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: right;
  }
  .footer-bottom__item:nth-child(3) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .footer-bottom__item:nth-child(4) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
@media (max-width: 600px) {
  .footer-bottom__item {
    width: 100%;
    text-align: center;
  }
  .footer-bottom__item:nth-child(1), .footer-bottom__item:nth-child(2) {
    text-align: center;
  }
}
.footer-bottom__link {
  color: var(--typography-white-medium-contrast, rgba(255, 255, 255, 0.5));
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 1024px) {
  .footer-bottom__link:hover {
    color: #ffffff;
  }
}

.content-page {
  color: var(--typography-black, #0D0D0D);
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  max-width: 1070px;
}
.content-page:last-of-type {
  margin-bottom: 0;
}
.content-page * > :last-child {
  margin-bottom: 0;
}
.content-page ol {
  counter-reset: item;
}
.content-page ol li {
  display: block;
}
.content-page ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}
.content-page ul {
  margin-bottom: 10px;
}
.content-page ul li {
  font-size: 16px;
  padding-left: 20px;
  position: relative;
}
.content-page ul li:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFB21C;
  position: absolute;
  left: 0px;
  top: 4px;
}
.content-page ul li:not(:last-child) {
  margin-bottom: 10px;
}
.content-page h1 {
  color: var(--typography-black, #0D0D0D);
  font-size: 48px;
  font-weight: 700;
  line-height: 105%;
  margin: 0 0 40px 0;
}
.content-page h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 110.023%;
  margin: 30px 0;
}
.content-page h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
}
.content-page div:not(:last-child) {
  margin-bottom: 30px;
}
.content-page a {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 1024px) {
  .content-page a:hover {
    text-decoration: none;
  }
}
.content-page p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
}
.content-page > ol > li {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 30px;
}
.content-page > ol > li > *:first-child {
  margin-top: 10px;
}
.content-page > ol > li ol li {
  font-weight: 400;
  margin-bottom: 5px;
}
.content-page > ol > li ol li > *:first-child {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .content-page h1 {
    font-size: 28px;
    margin-bottom: 25px;
  }
  .content-page h2 {
    font-size: 20px;
    margin: 25px 0;
  }
  .content-page h3 {
    font-size: 14px;
  }
  .content-page p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .content-page > ol > li {
    margin-bottom: 25px;
  }
  .content-page > ol > li ol li > *:first-child {
    margin-top: 5px;
  }
  .content-page ul li {
    font-size: 14px;
  }
}
.content-page--margin-big > ol > li {
  margin-bottom: 30px;
}
.content-page--margin-big > ol > li > *:first-child {
  margin-top: 20px;
}
.content-page--margin-big > ol > li ol li {
  margin-bottom: 20px;
}
.content-page--margin-big > ol > li ol li > *:first-child {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .content-page--margin-big > ol > li ol li > *:first-child {
    margin-top: 5px;
  }
}

.bread-crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 600px) {
  .bread-crumbs {
    display: none;
  }
}
.bread-crumbs--margin-bottom {
  margin-bottom: 40px;
}
.bread-crumbs__item {
  color: var(--typography-black, #0D0D0D);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.bread-crumbs__item:not(:last-child) {
  margin-right: 8px;
}
.bread-crumbs__item:not(:first-child) {
  padding-left: 14px;
  position: relative;
}
.bread-crumbs__item:not(:first-child):before {
  content: "/";
  color: var(--ui-border-dark, rgba(13, 13, 13, 0.1));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.banner-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .banner-block__inner:hover .banner-block__images picture {
    scale: 1.05;
  }
  .banner-block__inner:hover .animate-arrow__inner {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media (max-width: 991px) {
  .banner-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 600px) {
  .banner-block__inner {
    gap: 15px;
  }
}
.banner-block__card-arrow {
  max-width: 584px;
}
@media (max-width: 1366px) {
  .banner-block__card-arrow {
    max-width: 508px;
  }
}
@media (max-width: 991px) {
  .banner-block__card-arrow {
    max-width: 100%;
  }
}
.banner-block__calendar {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
@media (max-width: 991px) {
  .banner-block__calendar {
    display: none;
  }
}
.banner-block__container {
  padding: 60px;
}
@media (max-width: 991px) {
  .banner-block__container {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  .banner-block__container {
    padding: 30px;
  }
}
.banner-block__name {
  color: var(--typography-white, #FFF);
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 105.023%;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .banner-block__name {
    font-size: 54px;
  }
}
@media (max-width: 600px) {
  .banner-block__name {
    font-size: 34px;
  }
}
.banner-block__buttons {
  margin: 40px 0;
}
@media (max-width: 991px) {
  .banner-block__buttons {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 991px) {
  .banner-block__address {
    display: none;
  }
}
.banner-block__right {
  position: relative;
}
.banner-block__images {
  border-radius: 12px 12px 70px 12px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
}
.banner-block__images picture {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.banner-block__images picture img {
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .banner-block__images {
    border-radius: 12px;
  }
}

.arrow-card {
  position: relative;
  overflow: hidden;
}
.arrow-card__inner {
  background: #FFB21C;
  border-radius: 70px 12px 12px 12px;
}
.arrow-card__body {
  border-radius: 70px 12px 147px 12px;
  background: var(--ui-dark, #2C2F31);
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .arrow-card__body {
    border-radius: 12px 12px 147px 12px;
  }
}
.arrow-card__animate {
  position: absolute;
  right: 0;
  bottom: 0;
}

.buttons-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 991px) {
  .buttons-banner {
    gap: 5px;
  }
}
.buttons-banner__item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: calc(50% - 20px);
}
@media (max-width: 991px) {
  .buttons-banner__item {
    width: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
.buttons-banner__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
@media (max-width: 991px) {
  .buttons-banner__link {
    padding: 8px 15px;
  }
}

.btn--justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5px;
}

.address__item {
  color: var(--typography-white, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.address__item:not(:last-child) {
  margin-bottom: 5px;
}

.animate-arrow {
  width: 55px;
  height: 55px;
  overflow: hidden;
}
.animate-arrow__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-55px);
  -ms-transform: translateX(-55px);
  transform: translateX(-55px);
}
.animate-arrow__icon {
  width: 55px;
  height: 55px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.animate-arrow__icon .arow {
  width: 25px;
  height: 25px;
}

.calensar-banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.calensar-banner__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 7px 0px 0px 7px;
  background: var(--ui-accent, #FFB21C);
  padding: 10px 18px;
}
.calensar-banner__img .img {
  width: 20px;
  height: 20px;
}
.calensar-banner__date {
  border-radius: 0 7px 7px 0;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  color: var(--typography-black, #0D0D0D);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 0 15px 0 20px;
  margin-left: -1px;
}

.accordion-start-js {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.accordion-start-js.open svg {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.accordion-start-js svg {
  width: 20px;
  height: 20px;
  fill: #0D0D0D;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.accordion-content-js {
  position: relative;
  z-index: 1;
  color: #1e1e1e;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: max-height 0.8s ease;
  -o-transition: max-height 0.8s ease;
  transition: max-height 0.8s ease;
}
.accordion-content-js.open {
  max-height: inherit;
  opacity: 1;
  overflow: visible;
  visibility: visible;
  padding-top: 20px;
}

.js-text__more-button {
  margin-top: 10px;
  border: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: transparent;
  color: var(--unnamed, #E85022);
  border-bottom: 1px solid;
  margin-bottom: 20px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .js-text__more-button:hover {
    border-bottom: 1px solid transparent;
  }
}

.accordion__text {
  color: var(--typography-black, #0D0D0D);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.accordion__text p:not(:last-child) {
  margin-bottom: 10px;
}
.accordion__item {
  border-radius: 12px;
  background: var(--ui-white, #FFF);
  padding: 35px 40px;
}
.accordion__item:not(:last-child) {
  margin-bottom: 20px;
}

.header-accordion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
.header-accordion__block {
  color: var(--typography-black, #0D0D0D);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.023%;
  text-transform: uppercase;
}
.header-accordion__arrow {
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--ui-accent, #FFB21C);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.questions {
  margin-top: 120px;
}

.title-h2 {
  color: var(--typography-black, #0D0D0D);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  margin-bottom: 60px;
}
/*# sourceMappingURL=main.css.map */