
      <!-- actions -->
      <div class="actions block-margin">
        <div class="container">
          <div class="actions__title title-h2">
            <div class="title-h2__block">
              <div class="title-h2__text">Акции <span>и розыгрыши</span></div>
              <a href="#" class="title-h2__link btn btn--white">Смотреть все</a>
            </div>
          </div>

          <div class="actions__inner">
            <div class="actions__cards cards-action">
              <ul class="cards-action__inner">
                <li class="cards-action__item">
                  <a href="#" class="cards-action__link anime-arrow-hover">
                    <div class="cards-action__content">
                      <div class="cards-action__name title-h3">THE HATTERS</div>
                      <div class="cards-action__info"> <p>Ульяновск, ДК Губернаторский</p> <p>23 Фев 2023  16:00 ПТ</p>  </div>
                      <div class="cards-action__block">
                        <div class="cards-action__text">Розыгрыш билетов</div>
                        <div class="cards-action__animate animate-arrow">
                          <ul class="animate-arrow__inner">
                            <li class="animate-arrow__icon">
                              <svg class="arow">
                                <use xlink:href="img/sprite.svg#arrow-right"></use>
                              </svg>
                            </li>
                            <li class="animate-arrow__icon">
                              <svg class="arow">
                                <use xlink:href="img/sprite.svg#arrow-right"></use>
                              </svg>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="cards-action__images animate-img">
                      <picture>
                        <source srcset="img/cards-action-1-mobile.webp" type="image/webp" media="(max-width: 768px)" width="191" height="195" alt="img">
                        <source srcset="img/cards-action-1.webp" width="165" height="110" type="image/webp">
                        <img loading="lazy" src="img/cards-action-1.jpg" class="image"  alt="img">
                      </picture>
                    </div>
                  </a>
                </li>

                <li class="cards-action__item">
                  <a href="#" class="cards-action__link anime-arrow-hover">
                    <div class="cards-action__content">
                      <div class="cards-action__name title-h3">Группа княzz, <br>
                        Юбилейный концерт</div>
                      <div class="cards-action__info"> <p>Ульяновск, ДК Губернаторский</p> <p>23 Фев 2023  16:00 ПТ</p>  </div>
                      <div class="cards-action__block">
                        <div class="cards-action__text">Скидка 15%</div>
                        <div class="cards-action__animate animate-arrow">
                          <ul class="animate-arrow__inner">
                            <li class="animate-arrow__icon">
                              <svg class="arow">
                                <use xlink:href="img/sprite.svg#arrow-right"></use>
                              </svg>
                            </li>
                            <li class="animate-arrow__icon">
                              <svg class="arow">
                                <use xlink:href="img/sprite.svg#arrow-right"></use>
                              </svg>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="cards-action__images animate-img">
                      <picture>
                        <source srcset="img/cards-action-2-mobile.webp" type="image/webp" media="(max-width: 768px)" width="191" height="195" alt="img">
                        <source srcset="img/cards-action-2.webp" width="165" height="110" type="image/webp">
                        <img loading="lazy" src="img/cards-action-2.jpg" class="image"  alt="img">
                      </picture>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <!--<div class="actions__banner banner-action">
              <div class="banner-action__inner">
                <div class="banner-action__content">
                  <div class="banner-action__title title-h2">Мы в социальных сетях</div>
                  <div class="banner-action__subtitle">Подписывайся на нас </div>

                  <div class="actions__social social">
                    <ul class="social__inner">
                      <li class="social__item">
                        <a target="_blank" href="https://vk.com/"  class="social__link">
                          <svg class="social__icon">
                            <use xlink:href="img/sprite.svg#vk"></use>
                          </svg>
                        </a>
                      </li>

                      <li class="social__item">
                        <a target="_blank" href="https://telegram.org/" class="social__link">
                          <svg class="social__icon">
                            <use xlink:href="img/sprite.svg#tg"></use>
                          </svg>
                        </a>
                      </li>

                      <li class="social__item">
                        <a target="_blank" href="https://ok.ru/" class="social__link">
                          <svg class="social__icon">
                            <use xlink:href="img/sprite.svg#ok"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="banner-action__images">
                <picture>
                  <source srcset="img/.webp" type="image/banner-img600.webp" media="(max-width: 600px)" width="338" height="355" alt="img">
                  <source srcset="img/.webp" type="image/banner-img1024.webp" media="(max-width: 1024px)" width="741" height="420" alt="img">
                  <source srcset="img/.webp" type="image/banner-img.webp">
                  <img loading="lazy" src="img/banner-img.png" class="image" width="966" height="380" alt="img">
                </picture>
              </div>


            </div>-->
          </div>


        </div>
      </div>
      <!-- End actions -->
