
      <!-- concerts-cards -->
      <div class="concerts-cards block-margin">
        <div class="container">
          <div class="concerts-cards__title title-h2">
            <div class="title-h2__block">
              <div class="title-h2__text">Ближайшие <span>концерты</span></div>
              <a href="#" class="title-h2__link btn btn--white">Смотреть все</a>
            </div>
          </div>
          <ul class="concerts-cards__inner">
            <li class="concerts-cards__item card-concert">
              <div class="card-concert__inner">
                <div class="card-concert__content">
                  <div class="card-concert__title title-h3">Мельница</div>
                  <ul class="card-concert__buttons buttons-banner">
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Курск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Ульяновск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Тольятти
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Краснодар
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Железногорск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Омск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Саратов
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-more">
                      <button href="#" class="buttons-banner__link btn btn--black link-info btn--justify">  <span class="link-info__name">
                            Еще <strong class="item-more__num">4</strong>
                        </span>
                      </button>
                    <div class="item-more__inner">
                        <ul class="item-more__buttons"></ul>
                        <div class="item-more__close"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <a href="#" class="card-concert__link anime-arrow-hover">
                  <div class="card-concert__images animate-img">
                    <picture>
                      <source srcset="img/concerts-card-1.webp" type="image/webp">
                      <img loading="lazy" src="img/concerts-card-1.jpg" class="image" width="353" height="266" alt="img">
                    </picture>
                  </div>

                  <div class="card-concert__button button-card">
                    <span>
                      Подробнее
                    </span>
                    <div class="button-card__animate animate-arrow">
                      <ul class="animate-arrow__inner">
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                      </ul>
                    </div>
                  </div>


                </a>
              </div>
            </li>

            <li class="concerts-cards__item card-concert">
              <div class="card-concert__inner">
                <div class="card-concert__content">
                  <div class="card-concert__title title-h3">THE HATTERS</div>
                  <ul class="card-concert__buttons buttons-banner">
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Курск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Ульяновск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Тольятти
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Краснодар
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Железногорск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Омск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Саратов
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                  <li class="buttons-banner__item item-more">
                      <button href="#" class="buttons-banner__link btn btn--black link-info btn--justify">  <span class="link-info__name">
                            Еще <strong class="item-more__num">4</strong>
                        </span>
                      </button>
                    <div class="item-more__inner">
                        <ul class="item-more__buttons"></ul>
                        <div class="item-more__close"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <a href="#" class="card-concert__link anime-arrow-hover">
                  <div class="card-concert__images animate-img">
                    <picture>
                      <source srcset="img/concerts-card-2.webp" type="image/webp">
                      <img loading="lazy" src="img/concerts-card-2.jpg" class="image" width="353" height="266" alt="img">
                    </picture>
                  </div>

                  <div class="card-concert__button button-card">
                    <span>
                      Подробнее
                    </span>
                    <div class="button-card__animate animate-arrow">
                      <ul class="animate-arrow__inner">
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                      </ul>
                    </div>
                  </div>


                </a>
              </div>
            </li>

            <li class="concerts-cards__item card-concert">
              <div class="card-concert__inner">
                <div class="card-concert__content">
                  <div class="card-concert__title title-h3">Стас Старовойтов</div>
                  <ul class="card-concert__buttons buttons-banner">
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Курск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Ульяновск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Тольятти
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Краснодар
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Железногорск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Омск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Саратов
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-more">
                      <button href="#" class="buttons-banner__link btn btn--black link-info btn--justify">  <span class="link-info__name">
                            Еще <strong class="item-more__num">4</strong>
                        </span>
                      </button>
                    <div class="item-more__inner">
                        <ul class="item-more__buttons"></ul>
                        <div class="item-more__close"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <a href="#" class="card-concert__link anime-arrow-hover">
                  <div class="card-concert__images animate-img">
                    <picture>
                      <source srcset="img/concerts-card-3.webp" type="image/webp">
                      <img loading="lazy" src="img/concerts-card-3.jpg" class="image" width="353" height="266" alt="img">
                    </picture>
                  </div>

                  <div class="card-concert__button button-card">
                    <span>
                      Подробнее
                    </span>
                    <div class="button-card__animate animate-arrow">
                      <ul class="animate-arrow__inner">
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                      </ul>
                    </div>
                  </div>


                </a>
              </div>
            </li>

            <li class="concerts-cards__item card-concert">
              <div class="card-concert__inner">
                <div class="card-concert__content">
                  <div class="card-concert__title title-h3">ZIVERT</div>
                  <ul class="card-concert__buttons buttons-banner">
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Курск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Ульяновск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Тольятти
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Краснодар
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Железногорск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Омск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Саратов
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                  <li class="buttons-banner__item item-more">
                      <button href="#" class="buttons-banner__link btn btn--black link-info btn--justify">  <span class="link-info__name">
                            Еще <strong class="item-more__num">4</strong>
                        </span>
                      </button>
                    <div class="item-more__inner">
                        <ul class="item-more__buttons"></ul>
                        <div class="item-more__close"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <a href="#" class="card-concert__link anime-arrow-hover">
                  <div class="card-concert__images animate-img">
                    <picture>
                      <source srcset="img/concerts-card-4.webp" type="image/webp">
                      <img loading="lazy" src="img/concerts-card-4.jpg" class="image" width="353" height="266" alt="img">
                    </picture>
                  </div>

                  <div class="card-concert__button button-card">
                    <span>
                      Подробнее
                    </span>
                    <div class="button-card__animate animate-arrow">
                      <ul class="animate-arrow__inner">
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                      </ul>
                    </div>
                  </div>


                </a>
              </div>
            </li>

            <li class="concerts-cards__item card-concert">
              <div class="card-concert__inner">
                <div class="card-concert__content">
                  <div class="card-concert__title title-h3">Группа княzz, Юбилейный концерт</div>
                  <ul class="card-concert__buttons buttons-banner">
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Курск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Ульяновск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Тольятти
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Краснодар
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Железногорск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Омск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Саратов
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
              <li class="buttons-banner__item item-more">
                      <button href="#" class="buttons-banner__link btn btn--black link-info btn--justify">  <span class="link-info__name">
                            Еще <strong class="item-more__num">4</strong>
                        </span>
                      </button>
                    <div class="item-more__inner">
                        <ul class="item-more__buttons"></ul>
                        <div class="item-more__close"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <a href="#" class="card-concert__link anime-arrow-hover">
                  <div class="card-concert__images animate-img">
                    <picture>
                      <source srcset="img/concerts-card-5.webp" type="image/webp">
                      <img loading="lazy" src="img/concerts-card-5.jpg" class="image" width="353" height="266" alt="img">
                    </picture>
                  </div>

                  <div class="card-concert__button button-card">
                    <span>
                      Подробнее
                    </span>
                    <div class="button-card__animate animate-arrow">
                      <ul class="animate-arrow__inner">
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                      </ul>
                    </div>
                  </div>


                </a>
              </div>
            </li>

            <li class="concerts-cards__item card-concert">
              <div class="card-concert__inner">
                <div class="card-concert__content">
                  <div class="card-concert__title title-h3">Ария</div>
                  <ul class="card-concert__buttons buttons-banner">
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Курск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Ульяновск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Тольятти
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Краснодар
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Железногорск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Омск
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
                    <li class="buttons-banner__item item-hidden">
                      <a href="#" class="buttons-banner__link btn link-info btn--grey"> <span class="link-info__name">
                        Саратов
                      </span>
                      <div class="link-info__date">
                        23.02
                      </div>
                    </a>
                    </li>
              <li class="buttons-banner__item item-more">
                      <button href="#" class="buttons-banner__link btn btn--black link-info btn--justify">  <span class="link-info__name">
                            Еще <strong class="item-more__num">4</strong>
                        </span>
                      </button>
                      <div class="item-more__inner">
                        <ul class="item-more__buttons"></ul>
                        <div class="item-more__close"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <a href="#" class="card-concert__link anime-arrow-hover">
                  <div class="card-concert__images animate-img">
                    <picture>
                      <source srcset="img/concerts-card-6.webp" type="image/webp">
                      <img loading="lazy" src="img/concerts-card-6.jpg" class="image" width="353" height="266" alt="img">
                    </picture>
                  </div>

                  <div class="card-concert__button button-card">
                    <span>
                      Подробнее
                    </span>
                    <div class="button-card__animate animate-arrow">
                      <ul class="animate-arrow__inner">
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                        <li class="animate-arrow__icon">
                          <svg class="arow">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                          </svg>
                        </li>
                      </ul>
                    </div>
                  </div>


                </a>
              </div>
            </li>
          </ul>

          <button class="concerts-cards__button btn btn--black">Показать еще</button>
        </div>
      </div>
      <!-- End concerts-cards -->
