<!-- actions -->
<section class="actions margin-bottom">
  <div class="container">
    <div class="actions__title title-h2">
      <div class="title-h2__block">
        <h2 class="title-h2__text ">Акции <span>и розыгрыши</span></h2>
        <a href="#" class="title-h2__link btn btn--white">Смотреть все</a>
      </div>
    </div>

    <div class="actions__inner">
      <div class="actions__cards cards-action">
        <ul class="list-reset cards-action__inner">
          <li class="cards-action__item">
            <a href="#" class="cards-action__link anime-block-hover">
              <div class="cards-action__content">
                <div class="cards-action__name title-h3">THE HATTERS</div>
                <div class="cards-action__info"> <p>Ульяновск, ДК Губернаторский</p>
                  <time datetime="2023-02-23T16:00:00"><strong>23</strong> Фев 2023  16:00 <strong>ПТ</strong></time>
                </div>
                <div class="cards-action__block">
                  <div class="cards-action__text">Розыгрыш билетов</div>
                  <div class="cards-action__animate animate-arrow animate-arrow--border">
                    <ul class="list-reset animate-arrow__inner">
                      <li class="animate-arrow__icon">
                        <svg class="arow">
                          <use xlink:href="img/sprite.svg#arrow-right"></use>
                        </svg>
                      </li>
                      <li class="animate-arrow__icon">
                        <svg class="arow">
                          <use xlink:href="img/sprite.svg#arrow-right"></use>
                        </svg>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cards-action__images animate-img">
                <picture>
                  <source srcset="img/cards-action-1-mobi.webp" type="image/webp" media="(max-width: 400px)" width="191" height="168">
                  <source srcset="img/cards-action-1-mobile.webp" type="image/webp" media="(max-width: 768px)" width="191" height="195">
                  <source srcset="img/cards-action-1.webp" width="165" height="110" type="image/webp">
                  <img loading="lazy" src="img/cards-action-1.jpg" class="image"  alt="img">
                </picture>
              </div>
            </a>
          </li>

          <li class="cards-action__item hidden">
            <a href="#" class="cards-action__link anime-block-hover">
              <div class="cards-action__content">
                <div class="cards-action__name title-h3">Группа княzz, <br>
                  Юбилейный концерт</div>
                  <div class="cards-action__info"> <p>Ульяновск, ДК Губернаторский</p>
                    <time datetime="2023-02-23T16:00:00"><strong>23</strong> Фев 2023  16:00 <strong>ПТ</strong></time>
                  </div>
                <div class="cards-action__block">
                  <div class="cards-action__text">Скидка 15%</div>
                  <div class="cards-action__animate animate-arrow animate-arrow--border">
                    <ul class="list-reset animate-arrow__inner">
                      <li class="animate-arrow__icon">
                        <svg class="arow">
                          <use xlink:href="img/sprite.svg#arrow-right"></use>
                        </svg>
                      </li>
                      <li class="animate-arrow__icon">
                        <svg class="arow">
                          <use xlink:href="img/sprite.svg#arrow-right"></use>
                        </svg>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cards-action__images animate-img">
                <picture>
                  <source srcset="img/cards-action-2-mobile.webp" type="image/webp" media="(max-width: 768px)" width="191" height="195">
                  <source srcset="img/cards-action-2.webp" width="165" height="110" type="image/webp">
                  <img loading="lazy" src="img/cards-action-2.jpg" class="image"  alt="img">
                </picture>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</section>
<!-- End actions -->
