<section class="calendar calendar--mb container">
  <div class="calendar__body">
    <ul class="list-reset calendar__items">
      <li class="calendar__item">
        <a href="#" class="calendar__link">2018</a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">2019</a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">2020</a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">2021</a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">2022</a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">2023</a>
      </li>
    </ul>
  </div>
</section>
