<section class="calendar calendar--mb container">
  <div class="calendar__body">
    <ul class="list-reset calendar__items">
      <li class="calendar__item">
        <a href="#" class="calendar__link">Март <span>(3)</span></a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">Апрель <span>(1)</span></a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">Май <span>(5)</span></a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">Июнь <span>(6)</span></a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">Июль <span>(2)</span></a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">Август <span>(1)</span></a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">Сентябрь <span>(4)</span></a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">Октябрь <span>(3)</span></a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">Ноябрь <span>(1)</span></a>
      </li>
      <li class="calendar__item">
        <a href="#" class="calendar__link">Декабрь <span>(1)</span></a>
      </li>
    </ul>
  </div>

</section>
