<!-- content-block -->

<section class="content-block content-block--mb container">
  <div class="title-h2">О проведении концерта</div>
  <ul class="content-block__items list-reset">
    <li class="content-block__item">
      <p>
        Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки.
      </p>
      <picture class="content-block__img">
        <source srcset="img/content-block-mobi1.webp" type="image/webp" media="(max-width: 500px)" width="685" height="583" >
        <source srcset="img/content-block-pc1.webp" type="image/webp" media="(max-width: 1024px)" width="685" height="654" >
        <img loading="lazy" src="img/content-block-pc1.jpg" class="image" alt="img">
      </picture>
    </li>

    <li class="content-block__item">

      <picture class="content-block__img">
        <source srcset="img/content-block-mobi2.webp" type="image/webp" media="(max-width: 500px)" width="685" height="583">
        <source srcset="img/content-block-pc2.webp" type="image/webp" media="(max-width: 1024px)" width="685" height="654">
        <img loading="lazy" src="img/content-block-pc2.jpg" class="image" alt="img">
      </picture>

      <p>
        Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.
      </p>
    </li>
  </ul>
</section>

<!-- End content-block -->
