<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a href="#" class="footer-top__logo">
        <svg class="logo">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>

      <div class="footer-top__social social">
        <ul class="social__inner">
          <li class="social__item">
            <a target="_blank" href="https://vk.com/"  class="social__link">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a target="_blank" href="https://telegram.org/" class="social__link">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#tg"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a target="_blank" href="https://ok.ru/" class="social__link">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#ok"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      
      <button class="footer-top__button btn btn-reset btn--border-transparent">Напишите нам</button>
    </div>
    <div class="footer-center">
      <ul class="footer-center__working working">
        <li class="working__item">Пн-Пт:  09:00-21:00</li>
        <li class="working__item">Пн-Пт:  09:00-21:00</li>
      </ul>
      <ul class="footer-center__list">
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Акции на билеты</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">О нас</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Контакты</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Помощь</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Новости</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Букинг</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Архив</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Аккредитация</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Легендарное</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Афиша концертов</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Правила</a>
        </li>
        <li class="footer-center__item">
          <a href="#" class="footer-center__link">Возврат билетов</a>
        </li>
      </ul>
      <ul class="footer-center__tel">
        <li class="footer-center__item">
          <a class="footer-center__link" href="tel:+73852533023">+7 (3852) 53-30-23</a>
        </li>
        <li class="footer-center__item">
          <a class="footer-center__link" href="tel:+73852533023">+7 (3852) 53-30-23</a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <ul class="footer-bottom__items">
        <li class="footer-bottom__item">2023 Тригрупп. Все права защищены</li>
        <li class="footer-bottom__item">
          <a href="#" class="footer-bottom__link">Обработка персональных данных</a>
        </li>
        <li class="footer-bottom__item">
          <a href="#" class="footer-bottom__link">Пользовательское соглашение</a>
        </li>
        <li class="footer-bottom__item">Разработка сайта:
          <a target="_blank" href="https://plastilin-art.ru/" class="footer-bottom__link">Пластилин-Арт</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
