<!-- Header -->

<header class="header">
  <div class="container">
    <div class="header-top">
      <div class="header-top__inner">
        <div class="header-top__body">
          <ul class="header-top__list visible-links">
            <li class="header-top__item">
              <a href="#" class="header-top__link">Афиша концертов</a>
            </li>
            <li class="header-top__item">
              <a href="#" class="header-top__link">Легендарное</a>
            </li>
            <li class="header-top__item">
              <a href="#" class="header-top__link">Архив</a>
            </li>
            <li class="header-top__item">
              <a href="#" class="header-top__link">Акции на билеты</a>
            </li>
            <li class="header-top__item">
              <a href="#" class="header-top__link">Новости</a>
            </li>
            <li class="header-top__item">
              <a href="#" class="header-top__link">О нас</a>
            </li>
            <li class="header-top__item">
              <a href="#" class="header-top__link">Контакты</a>
            </li>
            <li class="header-top__item">
              <a href="#" class="header-top__link">Помощь</a>
            </li>
          </ul>

          <ul class='hidden-links hidden'></ul>
          <button class="nav-text"></button>
        </div>


        <button class="header-top__button btn-reset btn btn--yellow" data-graph-path="">Напишите нам</button>

        <a class="header-top__link header-top__link--tel" href="tel:+73852533023">+7 (3852) 53-30-23</a>
      </div>

      <div class="header-top__mobile mobile-nav">
        <div class="mobile-nav__top">
          <div class="mobile-nav__logo">
            <svg class="logo">
              <use xlink:href="img/sprite.svg#logo"></use>
            </svg>
          </div>
          <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger></button>
        </div>

        <nav class="mobile-nav__block" data-menu>
          <div class="mobile-nav__container">
            <button class="btn-reset mobile-nav__location location-btn btn btn--white btn--img-left">
              <svg class="location-btn__icon">
                <use xlink:href="img/sprite.svg#geo-location"></use>
              </svg>
              <span>Курск</span>
            </button>

            <ul class="header-top__list header-top__list--mobile">
              <li class="header-top__item">
                <a href="#" class="header-top__link header-top__link--mobile">Афиша концертов</a>
              </li>
              <li class="header-top__item">
                <a href="#" class="header-top__link header-top__link--mobile">Легендарное</a>
              </li>
              <li class="header-top__item">
                <a href="#" class="header-top__link header-top__link--mobile">Архив</a>
              </li>
              <li class="header-top__item">
                <a href="#" class="header-top__link header-top__link--mobile">Акции на билеты</a>
              </li>
              <li class="header-top__item">
                <a href="#" class="header-top__link header-top__link--mobile">Новости</a>
              </li>
              <li class="header-top__item">
                <a href="#" class="header-top__link header-top__link--mobile">О нас</a>
              </li>
              <li class="header-top__item">
                <a href="#" class="header-top__link header-top__link--mobile">Контакты</a>
              </li>
              <li class="header-top__item">
                <a href="#" class="header-top__link header-top__link--mobile">Помощь</a>
              </li>
            </ul>

            <div class="header-top__social social">
              <ul class="social__inner">
                <li class="social__item">
                  <a target="_blank" href="https://vk.com/" class="social__link">
                    <svg class="social__icon">
                      <use xlink:href="img/sprite.svg#vk"></use>
                    </svg>
                  </a>
                </li>

                <li class="social__item">
                  <a target="_blank" href="https://telegram.org/" class="social__link">
                    <svg class="social__icon">
                      <use xlink:href="img/sprite.svg#tg"></use>
                    </svg>
                  </a>
                </li>

                <li class="social__item">
                  <a target="_blank" href="https://ok.ru/" class="social__link">
                    <svg class="social__icon">
                      <use xlink:href="img/sprite.svg#ok"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>

            <a class="header-top__link header-top__link--tel header-top__link--tel-mobile" href="tel:+73852533023">+7 (3852) 53-30-23</a>

            <ul class="header-top__working working">
              <li class="working__item">Пн-Пт:  09:00-21:00</li>
              <li class="working__item">Пн-Пт:  09:00-21:00</li>
            </ul>

            <button class="header-top__button btn-reset btn btn--yellow" data-graph-path="">Напишите нам</button>

          </div>
        </nav>
      </div>
    </div>

    <div class="header-bottom">
      <div class="header-bottom__inner">
        <a href="#" class="header-bottom__logo">
          <svg class="logo">
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
        </a>

        <button class="btn-reset header-bottom__location-btn location-btn btn btn--white btn--img-left">
          <svg class="location-btn__icon">
            <use xlink:href="img/sprite.svg#geo-location"></use>
          </svg>
          <span>Курск</span>
        </button>

        <div class="header-bottom__search search">
          <div class="search__inner">
            <input type="text" placeholder="Исполнитель или город" class="search__input input-reset">
            <button class="search__button btn-reset">
              <svg class="search__icon">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="header-bottom__social social">
          <ul class="social__inner">
            <li class="social__item">
              <a target="_blank" href="https://vk.com/"  class="social__link">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a target="_blank" href="https://telegram.org/" class="social__link">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tg"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a target="_blank" href="https://ok.ru/" class="social__link">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#ok"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</header>

<!--End Header -->
