<!-- legendary-slider -->
<div class="slider-container">
  <div class="swiper slider">
    <div class="swiper-wrapper slider__wrapper">
        <div class="swiper-slide slider__slide anime-block-hover">
          <a href="img/legendary-inside-slider1.jpg" data-fslightbox="gallery">
            <picture class="slider__img animate-img">
              <source srcset="img/legendary-inside-slider1.webp" type="image/webp">
              <img loading="lazy"  src="img/legendary-inside-slider1.jpg"  width="342" height="258" alt="img">
            </picture>
          </a>
        </div>
        <div class="swiper-slide slider__slide anime-block-hover">
          <a href="img/legendary-inside-slider2.jpg" data-fslightbox="gallery">
            <picture class="slider__img animate-img">
              <source srcset="img/legendary-inside-slider2.webp" type="image/webp">
              <img loading="lazy"  src="img/legendary-inside-slider2.jpg"  width="342" height="258" alt="img">
            </picture>
          </a>

        </div>
        <div class="swiper-slide slider__slide anime-block-hover">
          <a href="img/legendary-inside-slider3.jpg" data-fslightbox="gallery">
            <picture class="slider__img animate-img">
              <source srcset="img/legendary-inside-slider3.webp" type="image/webp">
              <img loading="lazy"  src="img/legendary-inside-slider3.jpg"  width="342" height="258" alt="img">
            </picture>
          </a>

        </div>
        <div class="swiper-slide slider__slide anime-block-hover">
          <a href="img/legendary-inside-slider4.jpg" data-fslightbox="gallery">
            <picture class="slider__img animate-img">
              <source srcset="img/legendary-inside-slider4.webp" type="image/webp">
              <img loading="lazy"  src="img/legendary-inside-slider4.jpg"  width="342" height="258" alt="img">
            </picture>
          </a>

        </div>

        <div class="swiper-slide slider__slide anime-block-hover">
          <a href="img/legendary-inside-slider1.jpg" data-fslightbox="gallery">
            <picture class="slider__img animate-img">
              <source srcset="img/legendary-inside-slider1.webp" type="image/webp">
              <img loading="lazy"  src="img/legendary-inside-slider1.jpg"  width="342" height="258" alt="img">
            </picture>
          </a>

        </div>
    </div>
  </div>

  <div class="slider__navigation">
    <div class="swiper-button-prev slider-arrow"><svg><use xlink:href="img/sprite.svg#arrow-left"></use></svg></div>
    <div class="swiper-button-next slider-arrow"><svg><use xlink:href="img/sprite.svg#arrow-right"></use></svg></div>
  </div>
</div>
<!-- End legendary-slider -->
