      <!-- legendary-section -->
      <section class="legendary-section">
        <div class="container">
          <div class="legendary-section__title title-h2">
            <div class="title-h2__block">
              <h2 class="title-h2__text ">Легендарное</h2>
              <a href="#" class="title-h2__link btn btn--white">Смотреть все</a>
            </div>
          </div>
          <div class="legendary-section__inner">
            <a href="#" class="legendary-section__contain block-border anime-block-hover">
              <div class="legendary-section__elem block-border__items block-border__items--big">
                <div class="legendary-section__container block-border__item">
                  <picture class="legendary-section__img animate-img">
                    <source srcset="img/legendary1.webp" type="image/webp" >
                    <img loading="lazy" src="img.legendary1.jpg" class="image" width="949" height="714" alt="legendary">
                  </picture>
                  <div class="legendary-section__name">THE HATTERS</div>

                  <div class="legendary-section__content basic-card">
                    <span class="basic-card__info"><strong>Южно-Сахалинск,</strong> Галлерея ХОЛЛ</span>
                    <span class="basic-card__date">5 Июн 2022</span>
                  </div>


                  <span class="legendary-section__descr text-orange">Концерт завершен</span>
                </div>
              </div>
              <div class="legendary-section__arrow  animate-arrow animete-block__arrow">
                <ul class="list-reset animate-arrow__inner">
                  <li class="animate-arrow__icon">
                    <svg class="arow">
                      <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                  </li>
                  <li class="animate-arrow__icon">
                    <svg class="arow">
                      <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </a>

            <div class="legendary-section__cards ">
              <a href="#" class="card-basic anime-block-hover">
                <div class="card-basic__header anim-block__img">
                  <picture class="card-basic__img animate-img">
                    <source srcset="img/card-basic__img1-420.webp" type="image/webp" media="(max-width: 420px)" width="345" height="245">
                    <source srcset="img/card-basic__img1-768.webp" type="image/webp" media="(max-width: 768px)" width="708" height="431">
                    <source srcset="img/card-basic__img1.webp" type="image/webp">
                    <img loading="lazy" src="img.card-basic__img1.jpg" class="image" width="463" height="258" alt="concert">
                  </picture>
                  <div class="card-basic__wrap">
                    <span class="card-basic__name">Lumen</span>
                    <span class="card-basic__descr text-orange">Концерт завершен</span>
                  </div>
                </div>
                <div class="card-basic__content basic-card">
                  <span class="basic-card__info"><strong>Южно-Сахалинск,</strong> Галлерея ХОЛЛ
                  </span>
                  <span class="basic-card__date">5 Июн 2022</span>
                </div>
              </a>

              <a href="#" class="card-basic anime-block-hover">
                <div class="card-basic__header anim-block__img">
                  <picture class="card-basic__img animate-img">
                    <source srcset="img/card-basic__img2-420.webp" type="image/webp" media="(max-width: 420px)" width="345" height="245">
                    <source srcset="img/card-basic__img2-768.webp" type="image/webp" media="(max-width: 768px)" width="708" height="431">
                    <source srcset="img/card-basic__img2.webp" type="image/webp">
                    <img loading="lazy" src="img.card-basic__img2.jpg" class="image" width="463" height="258" alt="concert">
                  </picture>
                  <div class="card-basic__wrap">
                    <span class="card-basic__name">Ария</span>
                    <span class="card-basic__descr text-orange">Концерт завершен</span>
                  </div>
                </div>
                <div class="card-basic__content basic-card">
                  <span class="basic-card__info"><strong>Южно-Сахалинск, </strong>Галлерея ХОЛЛ
                    </span>
                  <span class="basic-card__date"><strong>5</strong> Июн 2022</span>
                </div>
              </a>
            </div>
          </div>
          <button class="concerts-cards__button btn btn--big btn--black">Показать еще</button>
        </div>
      </section>
      <!--End legendary-section -->
