<div class="popup hidden-pc" data-popup="popup-1">
  <div class="popup__body">
    <div class="popup__content">
      <a href="#" class="popup__close close-popup">&#10006;</a>
      <div class="card-basic">
        <span class="card-basic__name">Нервы</span>

        <div class="card-basic__content basic-card basic-card--white">
          <ul class="basic-card__items list-reset">
            <li class="basic-card__item">
              <span class="basic-card__info">Человек собрано</span>
              <span class="basic-card__sum">1200</span>
            </li>
            <li class="basic-card__item">
              <span class="basic-card__info"><strong>Южно-Сахалинск,</strong> Галлерея ХОЛЛ
              </span>
              <time datetime="2023-02-23T16:00:00" class="basic-card__date"><strong>5</strong> Июн 2022</time>
            </li>
          </ul>

        </div>
        <div class="card-basic__dropdown">
          <p>
            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.
          </p>
        </div>

        <div class="button-card ">
          <span>
            Подробнее
          </span>
          <div class="button-card__animate animate-arrow">
            <ul class="list-reset animate-arrow__inner">
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup hidden-pc" data-popup="popup-2">
  <div class="popup__body">
    <div class="popup__content">
      <a href="#" class="popup__close close-popup">&#10006;</a>
      <div class="card-basic">
        <span class="card-basic__name">Lumen</span>

        <div class="card-basic__content basic-card basic-card--white">
          <ul class="basic-card__items list-reset">
            <li class="basic-card__item">
              <span class="basic-card__info">Человек собрано</span>
              <span class="basic-card__sum">1200</span>
            </li>
            <li class="basic-card__item">
              <span class="basic-card__info"><strong>Южно-Сахалинск,</strong> Галлерея ХОЛЛ
              </span>
              <time datetime="2023-02-23T16:00:00" class="basic-card__date"><strong>5</strong> Июн 2022</time>
            </li>
          </ul>

        </div>
        <div class="card-basic__dropdown">
          <p>
            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.
          </p>
        </div>

        <div class="button-card ">
          <span>
            Подробнее
          </span>
          <div class="button-card__animate animate-arrow">
            <ul class="list-reset animate-arrow__inner">
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup hidden-pc" data-popup="popup-3">
  <div class="popup__body">
    <div class="popup__content">
      <a href="#" class="popup__close close-popup">&#10006;</a>
      <div class="card-basic">
        <span class="card-basic__name">The Hatters</span>

        <div class="card-basic__content basic-card basic-card--white">
          <ul class="basic-card__items list-reset">
            <li class="basic-card__item">
              <span class="basic-card__info">Человек собрано</span>
              <span class="basic-card__sum">1200</span>
            </li>
            <li class="basic-card__item">
              <span class="basic-card__info"><strong>Южно-Сахалинск,</strong> Галлерея ХОЛЛ
              </span>
              <time datetime="2023-02-23T16:00:00" class="basic-card__date"><strong>5</strong> Июн 2022</time>
            </li>
          </ul>

        </div>
        <div class="card-basic__dropdown">
          <p>
            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.
          </p>
        </div>

        <div class="button-card ">
          <span>
            Подробнее
          </span>
          <div class="button-card__animate animate-arrow">
            <ul class="list-reset animate-arrow__inner">
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup hidden-pc" data-popup="popup-4">
  <div class="popup__body">
    <div class="popup__content">
      <a href="#" class="popup__close close-popup">&#10006;</a>
      <div class="card-basic">
        <span class="card-basic__name">Ария</span>

        <div class="card-basic__content basic-card basic-card--white">
          <ul class="basic-card__items list-reset">
            <li class="basic-card__item">
              <span class="basic-card__info">Человек собрано</span>
              <span class="basic-card__sum">1200</span>
            </li>
            <li class="basic-card__item">
              <span class="basic-card__info"><strong>Южно-Сахалинск,</strong> Галлерея ХОЛЛ
              </span>
              <time datetime="2023-02-23T16:00:00" class="basic-card__date"><strong>5</strong> Июн 2022</time>
            </li>
          </ul>

        </div>
        <div class="card-basic__dropdown">
          <p>
            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.
          </p>
        </div>

        <div class="button-card ">
          <span>
            Подробнее
          </span>
          <div class="button-card__animate animate-arrow">
            <ul class="list-reset animate-arrow__inner">
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup hidden-pc" data-popup="popup-5">
  <div class="popup__body">
    <div class="popup__content">
      <a href="#" class="popup__close close-popup">&#10006;</a>
      <div class="card-basic">
        <span class="card-basic__name">Zivert</span>

        <div class="card-basic__content basic-card basic-card--white">
          <ul class="basic-card__items list-reset">
            <li class="basic-card__item">
              <span class="basic-card__info">Человек собрано</span>
              <span class="basic-card__sum">1200</span>
            </li>
            <li class="basic-card__item">
              <span class="basic-card__info"><strong>Южно-Сахалинск,</strong> Галлерея ХОЛЛ
              </span>
              <time datetime="2023-02-23T16:00:00" class="basic-card__date"><strong>5</strong> Июн 2022</time>
            </li>
          </ul>

        </div>
        <div class="card-basic__dropdown">
          <p>
            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.
          </p>
        </div>

        <div class="button-card ">
          <span>
            Подробнее
          </span>
          <div class="button-card__animate animate-arrow">
            <ul class="list-reset animate-arrow__inner">
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup hidden-pc" data-popup="popup-6">
  <div class="popup__body">
    <div class="popup__content">
      <a href="#" class="popup__close close-popup">&#10006;</a>
      <div class="card-basic">
        <span class="card-basic__name">Мельница</span>

        <div class="card-basic__content basic-card basic-card--white">
          <ul class="basic-card__items list-reset">
            <li class="basic-card__item">
              <span class="basic-card__info">Человек собрано</span>
              <span class="basic-card__sum">1200</span>
            </li>
            <li class="basic-card__item">
              <span class="basic-card__info"><strong>Южно-Сахалинск,</strong> Галлерея ХОЛЛ
              </span>
              <time datetime="2023-02-23T16:00:00" class="basic-card__date"><strong>5</strong> Июн 2022</time>
            </li>
          </ul>

        </div>
        <div class="card-basic__dropdown">
          <p>
            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.

            Наше концертное агентство поставило задачу организовать и провести концерт рок-группы, который будет незабываемым для зрителей и успешным для всех сторон. Мы внимательно выбирали подходящую площадку, обеспечили высококачественное акустическое и световое оборудование, создали привлекательное оформление сцены. Наша команда провела маркетинг исследования и рекламу концерта, чтобы привлечь максимальное количество поклонников рок-музыки. Мы работали с музыкантами и их менеджментом, гарантируя все необходимые условия для успешного выступления. Результатом нашей работы стали полный зал, энергичная атмосфера, восторженные реакции зрителей и положительные отзывы. Мы создли незабываемый опыт для поклонников рок-музыки, позволяя им испытать настоящую эмоциональную связь с музыкой и исполнителями.
          </p>
        </div>

        <div class="button-card ">
          <span>
            Подробнее
          </span>
          <div class="button-card__animate animate-arrow">
            <ul class="list-reset animate-arrow__inner">
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
              <li class="animate-arrow__icon">
                <svg class="arow">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


