
<div class="slider-container">
  <div class="swiper slider">
    <div class="swiper-wrapper slider__wrapper">
        <div class="swiper-slide slider__slide anime-block-hover">
          <picture class="slider__img animate-img">
            <source srcset="img/poster-slider1.webp" type="image/webp">
            <img loading="lazy"  src="img/poster-slider1.jpg"  width="342" height="258" alt="img">
          </picture>
          <div class="slider__content">
            <span class="slider__name">Lumen</span>
          </div>
        </div>
        <div class="swiper-slide slider__slide anime-block-hover">
          <picture class="slider__img animate-img">
            <source srcset="img/poster-slider2.webp" type="image/webp">
            <img loading="lazy"  src="img/poster-slider2.jpg"  width="342" height="258" alt="img">
          </picture>
          <div class="slider__content">
            <span class="slider__name">The Hatters</span>
          </div>
        </div>
        <div class="swiper-slide slider__slide anime-block-hover">
          <picture class="slider__img animate-img">
            <source srcset="img/poster-slider3.webp" type="image/webp">
            <img loading="lazy"  src="img/poster-slider3.jpg"  width="342" height="258" alt="img">
          </picture>
          <div class="slider__content">
            <span class="slider__name">Ария</span>
          </div>
        </div>
        <div class="swiper-slide slider__slide anime-block-hover">
          <picture class="slider__img animate-img">
            <source srcset="img/poster-slider4.webp" type="image/webp">
            <img loading="lazy"  src="img/poster-slider4.jpg"  width="342" height="258" alt="img">
          </picture>
          <div class="slider__content">
            <span class="slider__name">стас старовойтов</span>
          </div>
        </div>

        <div class="swiper-slide slider__slide anime-block-hover">
          <picture class="slider__img animate-img">
            <source srcset="img/poster-slider1.webp" type="image/webp">
            <img loading="lazy"  src="img/poster-slider1.jpg"  width="342" height="258" alt="img">
          </picture>
          <div class="slider__content">
            <span class="slider__name">Lumen</span>
          </div>
        </div>
    </div>
  </div>

  <div class="slider__navigation">
    <div class="swiper-button-prev slider-arrow"><svg><use xlink:href="img/sprite.svg#arrow-left"></use></svg></div>
    <div class="swiper-button-next slider-arrow"><svg><use xlink:href="img/sprite.svg#arrow-right"></use></svg></div>
  </div>
</div>

