<section class="social-section border-bottom">
  <div class="container">
    <div class="social-section__inner">
      <div class="social-section__content">
        <h2 class="title-h2">Мы в социальных сетях</h2>
        <span class="social-section__text">Подписывайся на нас</span>
        <div class="social">
          <ul class="list-reset social__inner">
            <li class="social__item">
              <a target="_blank" href="https://vk.com/" class="social__link social__link--big">
                <svg class="social__icon social__icon--big">
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a target="_blank" href="https://telegram.org/" class="social__link social__link--big">
                <svg class="social__icon social__icon--big">
                  <use xlink:href="img/sprite.svg#tg"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a target="_blank" href="https://ok.ru/" class="social__link social__link--big">
                <svg class="social__icon social__icon--big">
                  <use xlink:href="img/sprite.svg#ok"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="social-section__block">
        <ul class="list-reset social-section__card">
          <li class="card-social">
            <div class="card-social__item">
              <div class="card-social__header">
                <img loading="lazy" src="img/logo-card.svg" width="37" height="37" class="image" alt="img">
                <div class="card-social__block">
                  <h3 class="card-social__name">ТриГрупп. Концерты России</h3>
                  <time datetime="2023-10-7 8:13">7 окт в 8:13</time>
                </div>
              </div>
              <div class="card-social__content">
                <p>
                  Группа Dogstar, бас-гитаристом которой является Киану Ривз, выпустила первый с 2000 года альбом!
                </p>
              </div>
              <img src="img/card-social-1.jpg" class="card-social__img" width="270" height="200"  alt="social-img">
            </div>
          </li>
          <li class="card-social">
            <div class="card-social__item">
              <div class="card-social__header">
                <img loading="lazy" src="img/logo-card.svg" width="37" height="37" class="image" alt="img">
                <div class="card-social__block">
                  <h3 class="card-social__name">ТриГрупп. Концерты России</h3>
                  <time datetime="2023-10-9 9:16">9 окт в 9:16</time>
                </div>
              </div>
              <div class="card-social__content">
                <p>
                  65 лет назад родился Виталий Дубинин. Поздравляем с днём рождения.
                </p>
              </div>
              <img src="img/card-social-2.jpg" class="card-social__img" width="270" height="200"  alt="social-img">
            </div>
          </li>
          <li class="card-social">
            <div class="card-social__item">
              <div class="card-social__header">
                <img loading="lazy" src="img/logo-card.svg" width="37" height="37" class="image" alt="img">
                <div class="card-social__block">
                  <h3 class="card-social__name">ТриГрупп. Концерты России</h3>
                  <time datetime="2023-10-7 12:55">сегодня в 12:52</time>
                </div>
              </div>
              <div class="card-social__content">
                <p>
                  Премьера <a target="_blank" href="https://vk.com/numusic2018">NЮ</a> — «Выручай меня»
                </p>
                <p>Очередной хит, который займет достойное место в наших плейлистах</p>
                <p> А мы с нетерпением ждем встречи на живых выступлениях:</p>
                <p>
                  <a target="_blank" href="https://vk.com/nu_brn">
                    <span>
                      15 октября - Барнаул <br>
                      24 ноября - Кемерово <br>
                      25 ноября - Новокузнецк <br>
                    </span>
                  </a>
                </p>

              </div>
              <img src="img/card-social-3.jpg" class="card-social__img" width="270" height="200"  alt="social-img">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
