<ul class="list-reset track__items">
  <li class="track__item">
    <iframe frameborder="0" style="border:none;width:100%;height:240px;" width="100" height="240" src="https://music.yandex.ru/iframe/track/4004930/450204">Слушайте <a href='https://music.yandex.ru/album/450204/track/4004930'>Дороги</a>  <a target="_blank" href='https://music.yandex.ru/artist/359577'>Мельница</a> <span>на Яндекс Музыке</span></iframe>
  </li>
  <li class="track__item">
    <iframe frameborder="0" style="border:none;width:100%;height:240px;" width="100" height="240" src="https://music.yandex.ru/iframe/track/4182292/450204">Слушайте <a href='https://music.yandex.ru/album/450204/track/4182292'>Неперелетная</a>  <a target="_blank" href='https://music.yandex.ru/artist/359577'>Мельница</a> <span>на Яндекс Музыке</span></iframe>
  </li>
  <li class="track__item">
    <iframe frameborder="0" style="border:none;width:100%;height:210px;" width="100" height="210px" src="https://music.yandex.ru/iframe/album/13562653">Слушайте <a href='https://music.yandex.ru/album/13562653'>Манускрипт</a>  <a target="_blank" href='https://music.yandex.ru/artist/359577'>Мельница</a><span>на Яндекс Музыке</span> </iframe>
  </li>
  <li class="track__item">
    <iframe frameborder="0" style="border:none;width:100%;height:210px;" width="100" height="210px" src="https://music.yandex.ru/iframe/album/439083">Слушайте <a href='https://music.yandex.ru/album/439083'>Дорога сна</a>  <a target="_blank" href='https://music.yandex.ru/artist/359577'>Мельница</a> <span>на Яндекс Музыке</span></iframe>
  </li>
</ul>
